@use "../../../style/variables" as v;
@import "../../../style/fonts";

.articlePage {
  width: 100%;
  min-height: 1023px;
  display: flex;
  flex-direction: column;
  position: relative;
  @include v.font;
  h2 {
    font-size: v.$font-size-large;
    text-align: center;
  }
  a {
    z-index: 2;
    position: absolute;
    bottom: 100px;
    right: 50px;
  }
  &_date {
    position: absolute;
    bottom: 100px;
    left: 50px;
  }
  &_text {
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: v.$font-size-medium;
  }
  &_button {
    @include v.font;
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 1919px) {
    margin-top: 66px;
    padding: 0;
    min-height: 0;
    h2 {
      font-size: v.$font-size-medium;
    }
    &_text {
      margin-top: 10px;
      padding: 0;
      font-size: v.$font-size-normal;
    }
    &_date {
      margin-top: 10px;
      position: static;
    }
    a { 
      margin-top: 10px;
      align-self: center;
      position: static;
      margin-bottom: 100%;
    }
  }
}
