@use "../../../style/variables" as v;

.blog {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  &_area {
    border-radius: 196px;
    margin-top: 20px;
    width: 531px;
    height: 595px;
    border: 3px solid v.$color-main-blue;
    border-radius: 100px;
    background-color: rgba($color: #ffffff, $alpha: 0.12);
    padding: 24px;
    overflow: hidden;
    .simplebar-scrollable-y {
      .simplebar-content-wrapper {
        border-radius: 70px;
        .simplebar-content {
          &:last-child {
            margin-bottom: 16px;
          }
        }
      }
      .simplebar-track {
        background-color: rgba($color: #ffffff, $alpha: 0.12);
        top: 72px;
        right: -12px;
        width: 8px;
        height: 403px;
        border-radius: 4px;
        .simplebar-scrollbar:before {
          background-color: v.$color-main-blue;
          opacity: 1;
          width: 8px;
          left: 0;
        }
      }
    }
  }
  h2 {
    @include v.font;
    font-size: v.$font-size-large;
  }
}
