@use "../../../style/variables" as v;
@import "../../../style/fonts";

.switcher {
  @media (max-width: 1919px) {
    display: none;
  }
  @include v.font;
  font-size: v.$font-size-normal;
  &:hover {
    color: v.$color-main-blue;
    &::after {
      width: 100%;
    }
  }
  &::after {
    content: "";
    width: 0px;
    height: 2px;
    display: block;
    background: v.$color-main-blue;
    transition: 0.3s;
  }
}
