@use "../../../style/variables" as v;
@import "../../../style/fonts";

.button {
  display: flex;
  border-radius: 24px;
  background-color: v.$color-main-blue;
  transition: 0.3s;
  &:hover {
    background-color: v.$color-main-clean-white;
    & .link {
      color: v.$color-main-blue;
      &::after {
        width: 100%;
      }
    }
  }
}
