@use "../../../style/variables" as v;
@import "../../../style/fonts";

.blogItem {
  height: 146px;
  width: 467px;
  border-radius: 196px;
  background-color: v.$color-main-deep;
  margin-bottom: 16px;
  padding: 16px 62px 12px 62px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s;
  &:hover {
    background-color: v.$color-main-blue;
  }
  h4 {
    @include v.font;
    font-size: v.$font-size-medium;
  }
  p {
    font-family: "Futura PT", sans-serif;
    color: v.$color-main-clean-white;
    font-size: v.$font-size-small;
    letter-spacing: 0.5px;
  }
  @media (max-width: 1919px) {
    width: 270px;
    height: 112px;
    border-radius: 40px;
    padding: 15px 35px 15px 30px;
    margin-bottom: 10px;
    h4 {
      line-height: 20px;
      font-size: v.$font-size-normal;
      display: block;
      text-align: start;
    }
    p {
      line-height: 16px;
      font-size: 14px;
    }
  }
}
