$color-main-navy: #110a1d;
$color-main-deep: #1e1231;
$color-main-blue: #478bf9;
$color-main-blue-hover: #6ca2fa;
$color-main-clean-white: #ffffff;
$color-additional-purple: #9dadf2;

$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-medium: 24px;
$font-size-subtitle: 32px;
$font-size-large: 40px;
$font-size-title: 96px;

@mixin font {
  font-family: "Lexend", sans-serif;
  color: $color-main-clean-white;
}
