.carousel {
  height: 100%;
  width: 333px;
  display: grid;
  overflow: hidden;
  margin-top: 8px;
  margin-left: 72px;
  .container {
    width: 100%;
    gap: 11px;
    height: 3000px;
    position: relative;
    top: -1000px;
    left: 0;
    display: flex;
    flex-direction: row;
    .firstLine {
      height: 100%;
      width: 100px;
      background-repeat: no-repeat;
      background-image: url("../../assets/images/dollar.png"), url("../../assets/images/soccer.png"),
        url("../../assets/images/mGreen.png"), url("../../assets/images/shield.png"),
        url("../../assets/images/dollar.png"), url("../../assets/images/soccer.png"),
        url("../../assets/images/mGreen.png"), url("../../assets/images/shield.png"),
        url("../../assets/images/dollar.png"), url("../../assets/images/soccer.png"),
        url("../../assets/images/mGreen.png"), url("../../assets/images/shield.png"),
        url("../../assets/images/dollar.png"), url("../../assets/images/soccer.png"),
        url("../../assets/images/mGreen.png"), url("../../assets/images/shield.png"),
        url("../../assets/images/dollar.png"), url("../../assets/images/soccer.png"),
        url("../../assets/images/mGreen.png"), url("../../assets/images/shield.png");
      background-position: 0px 0px, 0px 125px, 0px 250px, 0px 375px, 0px 500px, 0px 625px, 0px 750px, 0px 875px,
        0px 1000px, 0px 1125px, 0px 1250px, 0px 1375px, 0px 1500px, 0px 1625px, 0px 1750px, 0px 1875px, 0px 2000px,
        0px 2125px, 0px 2250px, 0px 2375px;
      animation: slidedown 14s infinite linear;
    }
    .secondLine {
      height: 100%;
      width: 100px;
      background-repeat: no-repeat;
      background-image: url("../../assets/images/crown.png"), url("../../assets/images/timer.png"),
        url("../../assets/images/mYellow.png"), url("../../assets/images/planet.png"),
        url("../../assets/images/crown.png"), url("../../assets/images/timer.png"),
        url("../../assets/images/mYellow.png"), url("../../assets/images/planet.png"),
        url("../../assets/images/crown.png"), url("../../assets/images/timer.png"),
        url("../../assets/images/mYellow.png"), url("../../assets/images/planet.png"),
        url("../../assets/images/crown.png"), url("../../assets/images/timer.png"),
        url("../../assets/images/mYellow.png"), url("../../assets/images/planet.png"),
        url("../../assets/images/crown.png"), url("../../assets/images/timer.png"),
        url("../../assets/images/mYellow.png"), url("../../assets/images/planet.png");

      background-position: 0px 2400px, 0px 2275px, 0px 2150px, 0px 2025px, 0px 1900px, 0px 1775px, 0px 1650px,
        0px 1525px, 0px 1400px, 0px 1275px, 0px 1150px, 0px 1025px, 0px 900px, 0px 775px, 0px 650px, 0px 525px,
        0px 400px, 0px 275px, 0px 150px, 0px 25px;
      animation: slideup 14s infinite linear;
    }
    .thirdLine {
      height: 100%;
      width: 100px;
      background-repeat: no-repeat;
      background-image: url("../../assets/images/crown.png"), url("../../assets/images/mBlue.png"),
        url("../../assets/images/shield.png"), url("../../assets/images/soccerYellow.png"),
        url("../../assets/images/crown.png"), url("../../assets/images/mBlue.png"),
        url("../../assets/images/shield.png"), url("../../assets/images/soccerYellow.png"),
        url("../../assets/images/crown.png"), url("../../assets/images/mBlue.png"),
        url("../../assets/images/shield.png"), url("../../assets/images/soccerYellow.png"),
        url("../../assets/images/crown.png"), url("../../assets/images/mBlue.png"),
        url("../../assets/images/shield.png"), url("../../assets/images/soccerYellow.png"),
        url("../../assets/images/crown.png"), url("../../assets/images/mBlue.png"),
        url("../../assets/images/shield.png"), url("../../assets/images/soccerYellow.png");
      background-position: 0px 0px, 0px 125px, 0px 250px, 0px 375px, 0px 500px, 0px 625px, 0px 750px, 0px 875px,
        0px 1000px, 0px 1125px, 0px 1250px, 0px 1375px, 0px 1500px, 0px 1625px, 0px 1750px, 0px 1875px, 0px 2000px,
        0px 2125px, 0px 2250px, 0px 2375px;
      animation: slidedown 14s infinite linear;
    }
  }
  @media (max-width: 1919px) {
    height: 165px;
    width: 100%;
    margin: 0;
    .container {
      height: 165px;
      width: 3000px;
      top: 0;
      left: 0;
      flex-direction: column;
      .firstLine,
      .secondLine,
      .thirdLine {
        background-image: none;
      }
      .firstLine {
        width: 3000px;
        min-height: 50px;
        background-image: url("../../assets/images/smallSoccerYellow.png"), url("../../assets/images/smallShield.png"),
          url("../../assets/images/smallCrown.png"), url("../../assets/images/smallMBlue.png"),
          url("../../assets/images/smallSoccerYellow.png"), url("../../assets/images/smallShield.png"),
          url("../../assets/images/smallCrown.png"), url("../../assets/images/smallMBlue.png"),
          url("../../assets/images/smallSoccerYellow.png"), url("../../assets/images/smallShield.png"),
          url("../../assets/images/smallCrown.png"), url("../../assets/images/smallMBlue.png"),
          url("../../assets/images/smallSoccerYellow.png"), url("../../assets/images/smallShield.png"),
          url("../../assets/images/smallCrown.png"), url("../../assets/images/smallMBlue.png"),
          url("../../assets/images/smallSoccerYellow.png"), url("../../assets/images/smallShield.png"),
          url("../../assets/images/smallCrown.png"), url("../../assets/images/smallMBlue.png"),
          url("../../assets/images/smallSoccerYellow.png"), url("../../assets/images/smallShield.png"),
          url("../../assets/images/smallCrown.png"), url("../../assets/images/smallMBlue.png"),
          url("../../assets/images/smallSoccerYellow.png"), url("../../assets/images/smallShield.png"),
          url("../../assets/images/smallCrown.png"), url("../../assets/images/smallMBlue.png"),
          url("../../assets/images/smallSoccerYellow.png"), url("../../assets/images/smallShield.png"),
          url("../../assets/images/smallCrown.png"), url("../../assets/images/smallMBlue.png"),
          url("../../assets/images/smallSoccerYellow.png"), url("../../assets/images/smallShield.png"),
          url("../../assets/images/smallCrown.png"), url("../../assets/images/smallMBlue.png"),
          url("../../assets/images/smallSoccerYellow.png"), url("../../assets/images/smallShield.png"),
          url("../../assets/images/smallCrown.png"), url("../../assets/images/smallMBlue.png"),
          url("../../assets/images/smallSoccerYellow.png"), url("../../assets/images/smallShield.png");

        background-position: 0px 0px, 64px 0px, 128px 0px, 192px 0px, 256px 0px, 320px 0px, 384px 0px, 448px 0px,
          512px 0px, 576px 0px, 640px 0px, 704px 0px, 768px 0px, 832px 0px, 896px 0px, 960px 0px, 1024px 0px, 1088px 0px,
          1152px 0px, 1216px 0px, 1280px 0px, 1344px 0px, 1408px 0px, 1472px 0px, 1536px 0px, 1600px 0px, 1664px 0px,
          1728px 0px, 1792px 0px, 1856px 0px, 1920px 0px, 1984px 0px, 2048px 0px, 2112px 0px, 2176px 0px, 2240px 0px,
          2304px 0px, 2368px 0px, 2432px 0px, 2496px 0px, 2560px 0px, 2624px 0px, 2624px 0px;
        animation: slideleft 4s infinite linear;
      }
    }
  }
}

@keyframes slidedown {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(33.333%);
  }
}

@keyframes slideup {
  from {
    transform: translateY(33.333%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideleft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-33.333%);
  }
}
