@use "../../../style/variables" as v;
@import "../../../style/fonts";

.buttonType2 {
  @media (max-width: 1919px) {
    width: 36px;
    height: 36px;
  }
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 24px;
  background-color: inherit;
  border: 2px solid v.$color-additional-purple;
  align-items: center;
  transition: 0.3s;
  gap: 8px;
  &:hover {
    & .link {
      color: v.$color-main-blue;
      &::after {
        width: 100%;
      }
    }
  }
}

.headerButtonType2 {
  padding: 12px;
  margin-left: 14px;
}
